<html>
<head>
    <title> TEST</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body{
            background-color: lightgreen;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1 style="background-color: brown; text-align: center" class="text-color:white"> EMPLOYEE FORM</h1>
<form method="POST">
{% csrf_token %}
{{ cform }}
    <input type="submit" value="submit">
</form>
        </div>
    </div>
</div>

</body>
</html>